<div class="actions">
  <% if @user == current_user %>
    <%= link_to("Delete Account", user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "button delete") %>
    <%= link_to("Edit Account", edit_user_path(@user), class: "button edit") %>
  <% end %>
</div>
