<header>
  <nav>
    <%= link_to image_tag("logo"), root_path %>
    <ul class="left">
      <li>
        <%= link_to "All Movies", movies_path %>
      </li>
    </ul>
    <ul class="right">
      <%= render_header_buttons %>
    </ul>
  </nav>
</header>
